# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QtCreator Project Files
*.txt.user

# CMake Output directory
build

# the executable
orchidReader

# the log files
*.log

# the sqlite files
*.sqlite

# the temp files to dump to sqlite later
*.sqlite.temp
